<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  {# se genera el meta-refresh para actualizar la pagina automaticamente #}
  {% if session.logged and session.power %}
  <!-- <meta http-equiv="refresh" content="{{ session.freq }}"> -->
  {% endif %}
  <title>Lorem Ipsum</title>
  <link rel="icon" type="image/x-icon" href="./static/images/favicon.ico" />
  <!-- JQuery -->
  <script src="{{url_for('static', filename='js/jquery-3.2.1.min.js')}}"></script>
  <!-- bootstrap css y js -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}" />
    <!-- Optional theme -->
      <!-- <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap-theme.min.css')}}"> -->
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>

  <!-- web css y js -->
    <!-- <link rel="stylesheet" href="{{url_for('static', filename='css/web.css')}}"> -->
    <!-- <script src="{{url_for('static', filename='js/web.js')}}" defer></script> -->
  <!-- local css y js -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}" />
    <script src="{{url_for('static', filename='js/home.js')}}" defer></script>
</head>
<body>

  {% include 'includes/_header.html' %}

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Nuevo log registrado:</h4>
        </div>
        <div class="modal-body" id="modalBody">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary">Mas informacion</button>
        </div>
      </div>
    </div>
  </div>

  {% block body %}{% endblock %}

  {% include 'includes/_footer.html' %}

</body>
</html>
